/* default */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ul{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* default  */

/* common stylings */
body{
    font-family: 'Inter', sans-serif;
}

:root{
    --color_1:#F4F4F4;
    --color_2:#101010;
    --color_3:#FF7000;
    --Color_4:#5D5D5D;
    --color_5:#10A19D;
    --color_6:#A65FC3;
    --color_7:#EAEAEA;
    --color_8:#FFDCD0;
    --color_9:#FFBF00;
    --color_10:#F2D2FF;
    --color_11:#F3E6C0;
    --color_12:#C5E9E7;
}

h1{
    font-family: 'Arimo', sans-serif;
    font-size: 67px;
    font-weight: 400;
}

h2{
    font-family: 'Arimo', sans-serif;
    font-size: 42px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 500;
}

h4{
    font-size: 22px;
    font-weight: 700;
}

h5{
    font-size: 20px;
    font-weight: 500;
    color:var(--color_6);
}

h6{
    font-size: 19px;
    font-weight: 400;
}

p{
    font-size: 16px;
    font-weight: 400;
    color:var(--Color_4);
}

.mybtn{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding:10px 20px;
    border-radius:5px;
}

.mybtn.solid{
    color:var(--color_1);
    background-color: var(--color_5);
    transition: background 0.3s;
    border:none;
}

.mybtn.solid:hover{
    background-color: #216f6e;
}

.mybtn.outline{
    border:var(--color_5) 3px solid;
    color: var(--color_5);
}


.section-heading{
    text-align: center;
    margin-bottom: 50px;
}

.section-heading>h2{
    padding-block:10px;
}

.section-heading>p{
    width: 55%;
    margin:0px auto;
}


/* common stylings ends  */

/* header starts */

.time-media{
    background-color:var(--color_3) ;
    padding-block:15px;
}

.time-media-wrapper span{
    color:var(--color_7);
}

header{
    background-color: var(--color_1);
}

.header-wrapper{
    padding-block:15px;
}

.header-wrapper ul>li a{
    color: var(--color_2);
    transition: color 0.5s;
}

.header-wrapper ul>li:nth-of-type(4)>div,
.header-wrapper ul>li:nth-of-type(5)>div
{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: none;
}

.header-wrapper ul>li:nth-of-type(4):hover>div,
.header-wrapper ul>li:nth-of-type(5):hover>div{
    display: block;
}

.header-wrapper ul>li>div>ul>li>a{
    display: block;
    padding:10px 20px;
    transition: background 0.4s;
}

.header-wrapper ul>li>div>ul>li:hover>a{
    background-color: var(--color_3);
    color: var(--color_1);
}

/* .header-wrapper ul>li:nth-child(4):hover::after{
    content:"";
    background-color: rgba(156, 156, 156, 0.086);
    width: 100px;
    height: 100px;
    position: absolute;
} */



/* header ends */


/* banner starts */

.banner{
    background-color: var(--color_12);
}

.banner-wrapper{
    padding-top:100px;
}

.banner-wrapper>div>div:first-child>div>h5{
    display: inline-block;
    padding:5px 10px;
    border-radius:30px;
    background-color: var(--color_10);
}

.banner-wrapper>div>div:first-child>div>h1{
    margin-block:20px;
    line-height: 70px;
}

.banner-wrapper>div>div:first-child>div>h1>span{
    display: block;
}

.banner-wrapper>div>div:first-child>div>h1>span>span{
    color: var(--color_3);
}

.banner-wrapper>div>div:first-child>div>p{
    margin-bottom:40px;
}
.banner-wrapper>div>div:first-child>div>div{
    margin-top:20px;
}

.banner-wrapper>div>div:first-child>div>div>img{
    width:100px;
}

.banner-wrapper>div>div:last-child>div>img{
    width: 100%;
}

/* common banner  */

.common-banner-wrapper{
    padding-block:100px;
    margin-bottom:100px;
}

.common-banner-wrapper>div h5>span{
    color: var(--color_6) ;
}

/* banner ends */

/* phrase starts */

.phrase{
    background-color: var(--color_3);
}

.phrase-wrapper{
    padding-block:15px;
}

.phrase-wrapper h3{
    text-align: center;
    padding-right:30px;
    color:var(--color_1);
}
/* phrase ends */


/* company starts */

.company{
    margin-block:100px;
    background: url(./images/company-images/Beground.svg) no-repeat;
}

.company-wrapper>div>div:first-child img{
    width: 100%;
}

.company-wrapper>div>div:last-child>div>h5{
    padding-top:50px;
}

.company-wrapper>div>div:last-child>div>h2{
    padding-block:20px;
}

.company-wrapper>div>div:last-child>div>p{
    padding-bottom:15px;
}

/* company ends */

/* favorite starts */

.favorite-wrapper{
    text-align: center;
    /* padding-block:50px; */
}

.favorite-wrapper h5{
    color: var(--color_2);
}

.favorite-wrapper>div:first-child img{
    width:100%;
    margin-bottom:10px;
}

.favorite-wrapper>div:first-child>div{
    margin-bottom: 30px;
}

.favorite-wrapper>div:first-child{
    padding-block:50px;
}

.favorite-wrapper>div:last-child{
    text-align: start;
}

.favorite-wrapper>div:last-child img{
    width:50px;
}

.favorite-wrapper>div:last-child>div{
    margin-bottom: 10px;
}

.favorite-wrapper>div:last-child>div>div{
    background-color: var(--color_7);
    padding-block:25px;
    border-radius:15px;
}

.favorite-wrapper>div:last-child>div:first-child>div{
    background-color: var(--color_8);
}

/* favorite ends */


/*why-us starts  */

.why-us-wrapper{
    margin-block:100px;
}

.why-us-wrapper h1{
    text-align: center;
    font-size:56px;
    font-weight:700;
    color: var(--color_1);
    border-radius: 11px;
    padding-block:5px;
}

.why-us-wrapper>div>div:first-child>div h2{
    margin-block:20px 15px;
}

.why-us-wrapper>div>div:first-child>div p{
    margin-bottom:15px;
}

.why-us-wrapper>div>div:last-child>div>div{
    margin-bottom:20px;
}

.why-us-wrapper>div>div:last-child>div>div:first-child h1{
    background-color: var(--color_3);
}

.why-us-wrapper>div>div:last-child>div>div:nth-child(2) h1{
    background-color: var(--color_6);
}

.why-us-wrapper>div>div:last-child>div>div:nth-child(3) h1{
    background-color: var(--color_5);
}

.why-us-wrapper>div>div:last-child>div>div:last-child h1{
    background-color: var(--color_9);
}

.why-us-wrapper>div>div:last-child>div>div p{
    background-color: var(--color_1);
    padding:15px 15px;
    border-radius: 11px;
}


/* special starts */

.special-wrapper>div:first-child>div{
    margin-bottom:30px;
}

.special-wrapper>div:first-child>div h1{
    font-weight:700;
}


.special-wrapper>div:last-child>div>div {
    background-color: var(--color_1);
    padding:15px;
    border-radius:11px;
    text-align: center;
}

.special-wrapper>div:last-child>div>div h5{
    color:var(--color_2);
    padding-block:15px;
}

.special-wrapper>div:last-child>div>div>div{
    display: inline-block;
    position: relative;
}

.special-wrapper>div:last-child>div>div>div>div{
    position: absolute;
    left: 0px;
    bottom:0px;
}

.special-wrapper>div:last-child>div>div>div>img{
    /* width:100%; */
    width:282px;
    height:385px;
}

/* special ends */

/* right-choice starts */

.right-choice{
    padding-block:100px;
}

.right-choice-wrapper>div>div:first-child>div>h2{
    padding-block:20px;
}

.right-choice-wrapper>div>div:first-child>div>div{
    padding-block:40px 20px;
}

.right-choice-wrapper>div>div:first-child>div>div>div>h1{
    font-weight:700 ;
}

.right-choice-wrapper>div>div:first-child>div>div>div:first-child h1{
    color: var(--color_3);
}

.right-choice-wrapper>div>div:last-child>div>div>div{
    background-color:var(--color_1);
    padding:20px;
    border-radius:11px;
}

.right-choice-wrapper>div>div:last-child>div>div:nth-child(2)>div:nth-child(1){
    background-color:var(--color_10);
}

.right-choice-wrapper>div>div:last-child>div>div>div>img{
    margin-bottom:15px;
}

.right-choice-wrapper>div>div:last-child>div>div>div>h5{
    margin-block:15px;
    color: var(--color_2);
}

.right-choice-wrapper>div>div:last-child>div>div>div>p{
    margin-block:15px 30px;
}

/* right-choice ends */


/* work starts */

.work{
        background: var(--color_12) url(./images/work-images/background-img.svg) no-repeat center;
        background-size:contain;
        padding-block:100px;
}

.work .section-heading>p:first-of-type{
    margin-bottom:20px;
}

.work .section-heading>p:last-of-type{
    margin-bottom: 100px;
}

.work .section-heading>p:last-of-type a{
    color:var(--color_2);
    text-decoration: underline;
}

.work-wrapper>div>div>div{
    position: relative;
    padding:40px 20px 0px 20px;
    border-radius:15px;
    background-color: var(--color_1);
}

.work-wrapper>div>div>div>p{
    width:80%;
    margin:20px auto 30px auto;
    line-height:18px;
}

.work-wrapper>div>div>div>h5:last-of-type{
    position:absolute;
    color: var(--color_1);
    padding:15px;
    border-radius:50%;
    left:50%;
    top:0;
    transform: translate(-50%,-50%);
    
}

.work-wrapper>div>div:first-child>div>h5:last-of-type{
    background-color: var(--color_3);
}


.work-wrapper>div>div:nth-child(2)>div>h5:last-of-type{
    background-color: var(--color_6);
}


.work-wrapper>div>div:last-child>div>h5:last-of-type{
    background-color: var(--color_5);
}

/* work ends */

/* question starts */

.question-wrapper{
    margin-block:100px;
}

.question-wrapper span{
    font-weight:600;
}

.question-wrapper>div>div:first-child>div h5{
    margin-top:40px;
}

.question-wrapper>div>div:first-child>div h2{
    margin-block:20px;
}

.question-wrapper>div>div:first-child>div>div{
    margin-block:15px;
    color: var(--color_3);
}

.question-wrapper>div>div:first-child>div ul{
    margin-block:15px;
}

.question-wrapper>div>div:first-child>div ul li{
    padding-bottom:20px;
}

.question-wrapper>div>div:last-child{
    background:url(./images/question-images/background.svg) no-repeat center;
    /* background-size: contain; */
}

.question-wrapper>div>div:last-child img{
    border-radius:15px;
}

/* question ends */


/* trust starts */

.trust{
    padding-bottom: 100px;
}

.trust-wrapper>div:first-child h5{
    color:var(--Color_4);
    margin-block:20px;
}

.trust-wrapper>div:first-child p{
    width: 45%;
    margin:0px auto;
}

.trust-wrapper>div:first-child span{
    margin-block:50px;
}

.trust-wrapper>div:first-child{
    border-bottom:1px dotted var(--Color_4);
    margin-bottom: 30px;
}

.trust-wrapper>div:last-child h5{
    color: var(--Color_4);
    margin-bottom: 40px;
}

/* trust ends */


/* discover starts */

.discover-wrapper>div>div:first-child>div>div>div img{
    margin-block:30px;
    width:100%;
}

.discover-wrapper>div>div:first-child>div>div>div p{
    margin-block:15px;
}

.discover-wrapper>div>div:first-child>div>div>div a{
    color: var(--color_5);
    font-weight: 600;
}

.discover-wrapper>div>div:last-child>div>div>div>h5{
    margin-block:20px;
}

.discover-wrapper>div>div:last-child>div>div>div{
    padding: 30px;
    border-radius: 10px;
}


.discover-wrapper>div>div:last-child>div>div:first-child>div{
    background-color: var(--color_8);
    height:100%;
}

.discover-wrapper>div>div:last-child>div>div:first-child>div p{
    line-height: 20px;
    margin-bottom: 40px;
}

.discover-wrapper>div>div:last-child>div>div:nth-child(2)>div{
    background-color: var(--color_12);
    height:100%;
}

.discover-wrapper>div>div:last-child>div>div:nth-child(2)>div p{
    margin-bottom: 10px;
}

.discover-wrapper>div>div:last-child>div>div:nth-child(2)>div div{
    margin-bottom: 10px;
}

.discover-wrapper>div>div:last-child>div>div:last-child>div{
    background-color: var(--color_7);
}

.discover-wrapper>div>div:last-child>div>div:last-child>div>p{
    margin-block:20px 15px;
}

.discover-wrapper>div>div:last-child>div>div:last-child>div>div input{
    width: 100%;
}


/* discover ends */

/* explore starts */

.explore{
    padding-block:100px;
    margin-top:100px;
    background-color: var(--color_12);
}

/* explore ends */

/* touch starts */

.touch{
    margin-top: 100px;
}

.touch-wrapper>div>div:first-child>div{
    background-color:var(--color_7);
    padding:40px;
    border-radius:10px;
    height:100%;
}

.touch-wrapper form>input{
    display: block;
    width: 100%;
    margin-block: 25px;
    height:40px;
}

.touch-wrapper ::placeholder{
    padding-left:5px;
}

textarea{
    resize: none;
    display: block;
    width:100%;
    border-radius:5px;
    margin-block: 25px;
}

.touch-wrapper>div>div:last-child>div>h5{
    margin-bottom:20px;
}

.touch-wrapper>div>div:last-child>div>p{
    margin-block:10px 50px;
}

.touch-wrapper>div>div:last-child>div>div>p{
    margin-block:5px 20px;
}

.touch-wrapper>div>div:last-child>div>div>div>div{
    margin-bottom:10px;
}


/* touch ends */

/* footer starts */

footer{
    margin-top:150px;
    background-color: var(--color_3);
    color: var(--color_1);
}


/* footer ends */


/* catalogue starts */

.catalogue{
    margin-block:100px;
}

.catalogue-wrapper{
    padding-top: 50px;
    border-top:var(--Color_4) dotted 1px;
}

/* catalogue ends */


/* create starts */

.create-wrapper>div>div:last-child img{
    width:100%;
}

.create-wrapper>div>div{
    padding: 0px;
}

.create-wrapper>div>div:first-child>div{
    background-color: var(--color_12);
    height: 70%;
}

.create-wrapper h2{
    margin-block:80px 20px;
}

.create-wrapper p{
    margin-bottom:20px;
}

/* create ends */

/* intro starts */

.intro-wrapper>div>div:first-child>div>h2{
    margin-top: 30px;
}

.intro-wrapper>div>div:first-child>div>p{
    margin-top: 15px;
}

.intro-wrapper>div>div:first-child>div>span{
    margin-top: 40px;
}

.intro-wrapper>div>div:last-child>div>div:first-child{
    background-color: var(--color_1);
    padding: 30px;
    border-radius:8px;
    position: relative;
    margin-bottom: 30px;
}

.intro-wrapper>div>div:last-child>div>div:first-child>h4{
    color: var(--Color_4);
}

.intro-wrapper>div>div:last-child>div>div:first-child>img{
    position:absolute;
    top:0;
    left: 0;
    transform: translatey(-50%);
}

.intro-wrapper>div>div:last-child>div>div:last-child>img{
    margin-bottom: 20px;
}

/* intro ends */


/* vision starts */

.vision-wrapper>div:first-child>div>div{
    padding: 30px;
    border-radius:10px;
}

.vision-wrapper>div:first-child>div>div h4{
    margin-block:15px 20px;
}

.vision-wrapper>div:first-child>div:first-child>div{
    background-color:var(--color_8);
}

.vision-wrapper>div:first-child>div:nth-child(2)>div{
    background-color:var(--color_10);
}

.vision-wrapper>div:first-child>div:last-child>div{
    background-color:var(--color_12);
}

.vision-wrapper>div:last-child{
    margin-top:50px;
}

.vision-wrapper>div:last-child h1{
    font-weight: 700;
}

.vision-wrapper>div:last-child>div:first-child h1{
    color: var(--color_3);
}

/* vision ends */


/* bocca starts */
.bocca{
    margin-bottom: 100px;
}

.bocca-wrapper .mybtn{
    padding:0px 10px 0px 0px;
}

.bocca-wrapper span>a>img{
    background-color: var(--color_12);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bocca-wrapper>div>div:first-child img{
    width: 100%;
}

.bocca-wrapper>div>div:first-child>div>div:last-child img{
    background-color: var(--color_7);
    padding: 40px;
    border-radius:10px;
}

.bocca-wrapper>div>div:last-child>div>h2{
    margin-block:20px;
}

.bocca-wrapper>div>div:last-child>div>p{
    margin-bottom:20px;
}

.bocca-wrapper>div>div:last-child>div>div:nth-of-type(2)>div>h6{
    width:130px;
    margin-bottom:7px;
}

.bocca-wrapper>div>div:last-child>div>div:last-of-type{
    margin-top: 30px;
}

/* bocca ends */


/* description stars */

.description{
    margin-bottom: 100px;
}

.description-wrapper>div>div:first-child>div>h6{
    margin-bottom: 25px;
    font-weight: 500;
}

.description-wrapper>div>div:first-child>div p{
    margin-block:10px;
    color: var(--Color_4);
}

.description-wrapper>div>div:last-child>div>div{
    margin-bottom: 15px;
}

.description-wrapper>div>div:last-child>div>div>span{
    color: var(--color_3);
    font-weight: 600;
}

.description-wrapper>div>div:last-child>div>ul li{
    margin-top: 15px;
}

.description-wrapper>div>div:last-child>div>ul span{
    font-weight: 600;
}

/* description ends */


/* service starts */

.service{
    margin-block:100px;
}

.service-wrapper>div>div>div{
    text-align: center;
    background-color: var(--color_7);
    padding: 15px 15px 25px 15px;
    border-radius: 10px;
}

.service-wrapper>div>div>div>img{
    width:50px;
}

.service-wrapper>div>div>div>h6{
    margin-block:20px;
}

/* service ends */


/* brand starts */

.brand{
    margin-top: 100px;
}

.brand-wrapper>div>h5{
    margin-bottom:40px;
}

/* brand ends */


/* team work starts */

.teamwork-wrapper>div>div:first-child img{
    width: 100%;
}

.teamwork-wrapper>div>div:last-child img{
    width: 90%;
}

.teamwork-wrapper>div>div:last-child>div>h2{
    margin-block:20px;
}

.teamwork-wrapper>div>div:last-child>div>p{
    margin-bottom: 15px;
}

.teamwork-wrapper>div>div:last-child>div>div>div>span{
    font-weight: 600;
}

/* team work ends */


/* member starts */

.member-wrapper>div>div>div{
    background-color: var(--color_7);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--color_3) 0px 4px 0px 0px;
}

.member-wrapper>div>div>div>img{
    width: 100%;
    margin-bottom: 20px;
}

.member-wrapper>div>div>div>p{
    margin-block:20px 15px;
}

/* member ends */


/* client starts */

.client-wrapper>div:first-child>div>h1{
    font-weight: 700;
}

.client-wrapper>div:first-child>div:first-child>h1{
    color: var(--color_3);
}

.client-wrapper>div:last-child{
    margin-block: 100px 75px;
    padding-block: 50px;
    border-block:var(--Color_4) 1px dotted;
}

.client-wrapper>div:last-child>div>div>div{
    background-color: var(--color_1);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}

.client-wrapper>div:last-child>div>div>div h6{
    margin-block:20px;
}

.client-wrapper>div:last-child>div>div>div p{
    width: 65%;
    margin: 0px auto;
}

/* clients ends */


/* download starts */

.download{
    margin-top:100px;
}

.download-wrapper>div>div:first-child>div>h5{
    color: var(--color_2);
}

.download-wrapper>div>div:first-child>div>p{
    margin-block:15px 45px;
}

.download-wrapper>div>div:first-child>div>div{
    background-color: var(--color_1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.download-wrapper>div>div:last-child>div>h5{
    margin-block: 10px 20px;
}

.download-wrapper>div>div:last-child>div>p{
    margin-block: 20px;
}

.download-wrapper>div>div:last-child>div>div{
    margin-bottom: 15px;
}

/* download ends */

/* blog starts */

.blog-wrapper img{
    width:100%;
}

.blog-wrapper>div>div:first-child>div{
    margin-bottom: 50px;
}


.blog-wrapper>div>div:first-child>div>div>div>h6{
    font-weight: 700;
}

.blog-wrapper p{
    margin-block:15px 10px;
}

.blog-wrapper>div>div:first-child>div>div>div>a{
    font-weight: 700;
    color: var(--color_5);
}

.blog-wrapper>div>div:last-child img{
    margin-bottom: 20px;
}

/* blog ends */


/* custom  starts*/

.custom{
    margin-bottom:100px;
}

.custom-wrapper>div>div:first-child{
    text-align: justify;
}

.custom-wrapper ul{
    list-style-type:disc;
    margin-top: 30px;
    padding-left:20px;
}

.custom-wrapper ul li{
    margin-bottom: 10px;
}

.custom-wrapper>div>div:first-child>div:first-child>p:first-of-type{
    padding-block:20px;
    border-bottom: var(--color_2) 1px solid ;
}

.custom-wrapper>div>div:first-child>div>p{
    margin-block: 20px;
}

.custom-wrapper>div>div:first-child>div>h4{
    margin-block: 30px;
}

.custom-wrapper>div>div:first-child>div:first-child>p:first-of-type{
    color: var(--color_2);
}

.custom-wrapper>div>div:first-child>div:nth-child(2)>img{
    width: 100%;
}

.custom-wrapper span .mybtn{
    padding:0px 10px 0px 0px;
}

.custom-wrapper>div>div:first-child>div:last-of-type{
    padding-block:30px;
    border-top:var(--color_2) solid 1px;
}

.custom-wrapper>div>div:first-child>div:last-of-type span>a>img{
    background-color: var(--color_12);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.custom-wrapper>div>div:first-child form{
    background-color: var(--color_7);
    padding: 40px;
    border-radius: 10px;
}

.custom-wrapper>div>div:first-child form input{
    display: block;
}

.custom-wrapper>div>div:first-child form textarea{
    border-radius:10px;
    margin-block:0px 10px;
}

.custom-wrapper>div>div:first-child form>h2{
    margin-bottom: 30px;
}

.custom-wrapper>div>div:first-child form>p{
    margin-bottom: 15px;
}

.custom-wrapper>div>div:first-child form>div:nth-of-type(2)>input,
.custom-wrapper>div>div:first-child form>div:nth-of-type(3)>input,
.custom-wrapper>div>div:first-child form>div:nth-of-type(4)>input{
    width: 100%;
    height:40px;
    border-radius:10px;
    margin-bottom: 10px;
}

.custom-wrapper>div>div:first-child form>div:last-of-type{
    margin-top: 40px;
}

.custom-wrapper>div>div:last-child>div{
    background-color: var(--color_7);
    padding:40px 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.custom-wrapper>div>div:last-child h4{
    text-align: center;
    margin-bottom: 25px;
    color: var(--color_6);
}

.custom-wrapper>div>div:last-child>div img {
    width: 143px;
}

.custom-wrapper>div>div:last-child>div>div{
    margin-bottom: 15px;
}

.custom-wrapper>div>div:last-child>div span{
    font-size: 12px;
}

.custom-wrapper>div>div:last-child>form{
    background-color: var(--color_7);
    padding:40px 20px;
    border-radius: 10px;
}

.custom-wrapper>div>div:last-child>form>input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.custom-wrapper>div>div:last-child>form button{
    width: 100%;
    margin-block: 20px;
}

/* custom ends */

/* talk starts */

.talk-wrapper form{
    padding: 40px;
    border-radius: 10px;
    background-color: var(--color_7);
}

.talk-wrapper form>input,
.talk-wrapper form>select{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.talk-wrapper form>button{
    margin-top: 30px;
    width: 100%;
}

/* talk ends */


/* info starts */

.info{
    margin-top: 100px;
}

.info-wrapper>div:first-child>div>div{
    background-color: var(--color_7);
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
}

.info-wrapper>div:first-child>div>div>img{
    margin-bottom: 20px;
}

.info-wrapper>div:first-child>div>div>span{
    display: inline-block;
    margin-block:5px 20px;
}

.info-wrapper>div:last-child{
    margin-top: 75px;
}

.info-wrapper>div:last-child h5{
    color: var(--color_2);
    margin-bottom: 30px;
}

/* info ends */



/* media query  starts*/

@media only screen and (max-width: 1199.5px){
    .section-heading>p{
        width: 80%;
    }

    /* banner starts */
    .banner-wrapper>div>div:last-child{
        display: none;
    }
    /* banner ends */

    /* favorite starts */
    .favorite-wrapper>div:first-child img{
        width:55%;
    }
    /* favorite ends */

    /* trust starts*/
    .trust-wrapper>div:first-child p{
        width: 60%;
    }
    /* trust ends */

    /* create starts */

    .create-wrapper>div>div:last-child img{
        display: none;
    }

    .create-wrapper>div>div:first-child>div{
        height: 100%;
    }

    /* create ends */

    /* custom starts */
    .custom-wrapper>div>div:last-child>div>div h6{
        width: 300px;
    }
    /* custom ends */
}

@media only screen and (max-width: 992px) {

    .section-heading>p{
        width: 100%;
    }

    /* header  starts */
    .header-wrapper ul{
        display: none !important;
    }
    /* header  ends */

    /* trust starts*/
    .trust-wrapper>div:first-child p{
        width: 80%;
    }
    /* trust ends */
}


@media only screen and (max-width: 768px){
    h1{
        font-size:60px;
    }

    h2{
        font-size: 32px;
    }   

    /* special starts */
    .right-choice-wrapper>div>div:last-child>div>div>div{
        border-radius:0px;
    }
    /* special ends */

    /* trust starts */
    .trust-wrapper>div:first-child p{
        width: 100%;
    }
    /* trust ends */

    /* discover starts */

    .discover-wrapper>div>div:last-child>div>div:last-child>div>div input{
        margin-bottom:20px;
    }

    /* discover ends */

    /* blog starts */
    .blog-wrapper>div>div:first-child>div img{
        margin-bottom: 20px;
    }
    /* blog ends */
}

@media only screen and (max-width: 576px){
    h1{
        font-size:40px;
        line-height:50px !important;
    }


    /* touch starts */
    .touch-wrapper>div>div:first-child>div{
        padding:10px;
    }
    /* touch ends */

    /* bocca starts */
    .bocca-wrapper>div>div:first-child>div>div:last-child img{
        padding:10px;
    }
    /* bocca ends */

    /* custom starts */
    .custom-wrapper>div>div:last-child>div>div h6{
        width: 100%;
    }
    /* custom ends */

    /* talk starts */

    .talk-wrapper form{
        padding:15px;
    }

    /* talk ends */
}

@media only screen and (max-width: 400px){
    h1{
        font-size:30px;
        line-height:40px !important;
    } 

    /* phrase starts */

    .phrase-wrapper h3{
        font-size: 20px;
        padding-block: 3px;
    }

    /* phrase ends */

    /* special-starts */

    .special-wrapper>div:last-child>div>div>div>img{
        width:100%;
    }
    /* special ends */

    /* work starts */
    .work-wrapper img{
        width:90%;
    }
    /* work ends */

    /* question starts */
    .question-wrapper>div>div:last-child img{
        width: 100%;
    }
    /* question ends */
    
    /* catalogue starts */
    .catalogue img{
        width:100%;
    }
    /* catalogue ends */

    /* intro starts */
    .intro-wrapper>div>div:last-child>div>div:first-child>h4{
        font-size:17px;
    }
    /* intro ends */

    /* custom starts */
    .custom-wrapper>div>div:first-child form{
        padding: 10px;
    }
    /* custom ends */
}    